
nav {
    height: 120px;
    width: 100%;
    background-color: #4056A1;
    color: #FFFFFF;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; 
  }

nav > span {
font-family: 'Bungee', cursive;
font-size: xx-large;
}

nav > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    }

.bold {
  font-weight: bold;
  }

#write-new-tweet {
  background: transparent;
  color: #FFFFFF;
}

@media only screen and (max-width: 1023px) {
  nav {
    background-color: #cc7000;
  }

}